@using CopiaLab3.Declaradores
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - "Tu salud en mis manos"</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:olivedrab">
        <div class="container">
            <div class="navbar-header" style="color: black">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tu salud en mis manos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Data.Instance.ListaMedicinas.Count == 0)
                    {
                    <li>@Html.ActionLink("Cargar Archivo", "CargaArchivo", "Operador", new { id = 1 }, new { @class = "my-class" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Buscar medicamento", "BusquedaNombre", "Home", new { id = 2 }, new { @class = "my-class" })</li>
                        <li>@Html.ActionLink("Crear pedido", "BuscarParaPedido", "Home", new { id = 3 }, new { @class = "my-class" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - "Tu salud en mis manos"</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
