@model CopiaLab3.Models.Indice

@{
    ViewBag.Title = "Crear pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creación de pedido</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Paso 1</h4>
    <hr />
    @if (ViewBag.AvisoB != null)
    {
        <h6 style="color:green">@ViewBag.AvisoB</h6>
    }
    @if (ViewBag.AvisoM != null)
    {
        <h6 style="color:darkred">@ViewBag.AvisoM</h6>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buscar y Agregar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Paso 2", "CrearPedido")
</div>
